{{#with results}}
<div class="nav">
    <div class="content_w clearfix">
        <div class="goods_catelog f-l">
            <a href="javascript:;" class="catelog_tit">我的商品</a>
            <div class="goods_panel none">
                <ul class="cate_level_1">
                    {{#each level1}}
                        <li><a href="javascrpt:;">{{this.value}}</a></li>
                    {{/each}}
                </ul>
                <div class="cate_level_2">
                    {{#each level2}}
                        <div class='{{ifShow @index}}'>
                            <div class="cate_level_3 usage clearfix">
                                <span class="cate_level_3_tit f-l">分类 ></span>
                                <div class="f-l">
                                    {{#each this.catelog}}
                                        <div>
                                            {{this.value}}>
                                            {{#each this.childCate}}
                                                <a href="javascript:;">{{this.value}}</a>
                                            {{/each}}
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="cate_level_3 brands clearfix">
                                <span class="cate_level_3_tit f-l">品牌 ></span>
                                <div class="f-l">
                                    {{#each this.brands}}
                                        <div>
                                            <a href="javascript:;">{{this.value}}</a>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="role_nav f-l">
            <ul>
                <li><a href="#">商品上传</a> </li>
                <li><a href="#">我的供货单</a> </li>
                <li><a href="#">我的信息</a> </li>
            </ul>
        </div>
    </div>
</div>
{{/with}}