{{#with results.catelog}}
<div class="nav">
    <div class="content_w clearfix">
        <div class="goods_catelog f-l">
            <a href="javascript:;" class="catelog_tit">我的商品</a>
            <div class="goods_panel none">
                <ul class="cate_level_1">
                    {{#each level1}}
                        <li><a href="/goodsList/?catelog1={{this.value}}" target="_blank">{{this.value}}</a></li>
                    {{/each}}
                </ul>
                <div class="cate_level_2">
                    {{#each level1}}
                        <div class='{{ifShow @index}}'> 
                        {{#each this.level2}}
                            <div class="cate_level_3 usage clearfix">
                                <span class="cate_level_3_tit f-l">分类 ></span>
                                <div class="f-l">
                                    {{#each this.catelog}}
                                        <div>
                                            <a href="/goodsList/?catelog1={{../../this.value}}&catelog2={{this.value}}" target="_blank">{{this.value}}></a>
                                            {{#each this.childCate}}
                                                <a href="/goodsList?catelog1={{../../../this.value}}&catelog2={{../this.value}}&catelog3={{this.value}}" target="_blank">{{this.value}}</a>
                                            {{/each}}
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="cate_level_3 brands clearfix">
                                <span class="cate_level_3_tit f-l">品牌 ></span>
                                <div class="f-l">
                                    {{#each this.brands}}
                                        <div>
                                            <a href="/goodsList?brands={{this.value}}" target="_blank">{{this.value}}</a>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="role_nav f-l">
            <ul>
                <li><a href="/goodsList?sendType=1" target="_blank">日本贸易</a> </li>
                <li><a href="/goodsList?sendType=2" target="_blank">韩国贸易</a> </li>
                <li><a href="/goodsList?sendType=3" target="_blank">香港贸易</a> </li>
                <!--<li><a href="/goodsList?sendType=4" target="_blank">保税备货</a> </li>-->
                <!--<li><a href="/goodsList?sendType=5" target="_blank">一件代发</a> </li>-->
                <li><a href="/goodsList?sendType=6" target="_blank">国内贸易</a> </li>
            </ul>
        </div>
    </div>
</div>
{{/with}}