{{#section 'head'}}
    <title>商品列表</title>
    <link rel="stylesheet" href="/css/goods_list.css">
{{/section}}

{{>topbar}}

<!--header start-->
{{>header_search}}
<!--header end-->

<!--nav start-->
{{>nav}}
<!--nav end-->

{{#with results.body}}
<!--input hidden-->
<input type="hidden" value="{{sendType}}" id="sendType">
<input type="hidden" value="{{brands}}" id="brands">
<input type="hidden" value="{{catelog1}}" id="catelog1">
<input type="hidden" value="{{catelog2}}" id="catelog2">
<input type="hidden" value="{{catelog3}}" id="catelog3">
<input type="hidden" value="{{sort}}" id="sort">
<input type="hidden" value="{{search}}" id="search">
<input type="hidden" value="{{../results.goodsList/pageNum}}" id="pageNumber">
<input type="hidden" value="{{../results.goodsList/pageSize}}" id="pageSize">
<input type="hidden" value="{{../results.goodsList/hasNextPage}}" id="hasNextPage">
<input type="hidden" value="{{../results.goodsList/hasPreviousPage}}" id="hasPreviousPage">
<input type="hidden" value="{{../results.goodsList/pages}}" id="pages">
<input type="hidden" value="{{../results.goodsList/size}}" id="size">
<!--input hidden-->
{{/with}}
{{#with results.condition}}
<!--filter start-->
<div class="filter content_w">
    <div class="condition">
        <span>提货：</span>
        <div class="sendType">
                <a href="javascript:;">全部</a>
            {{#each this.sendtype}}
                <a href="javascript:;" class="{{#ifActive ../../results.body/sendType}}typeid{{/ifActive}}" data-id={{typeid}}>{{typename}}</a>
            {{/each}}
        </div>
    </div>
    <div class="condition">
        <span>国家：</span>
        <div class="country">
            <a href="javascript:;">全部</a>
             {{#each this.country}}
            <a href="javascript:;" data-id={{countryid}}>{{countryname}}</a>
            {{/each}}
        </div>
    </div>
    <div class="condition">
        <span>分类：</span>
        <div class="catelog">
            <select id="level1">
                 <option>请选择</option>
                {{#each this.other.level1}}
                <option data-id={{this.id}}>{{this.value}}</option>
                {{/each}}
            </select>
            <select id="level2">
                <option>请选择</option>
            </select> 
             <!--<select id="level3">-->
                 <!--<option>请选择</option>-->
            <!--</select>-->
        </div>
    </div>
    <div class="condition no-border">
        <span>品牌：</span>
        <div class="brands">
            <!--{{!#each this.other.level1}}
                {{!#each this.level2}}
                    {{!#each this.brands}}
                    <a href="javascript:;">{{!this.value}}</a>
                    {{!/each}}
                {{!/each}}
            {{!/each}}-->
            {{#each this.brands}}
                <a href="javascript:;" data-id="{{advname}}">{{advname}}</a>
            {{/each}}
        </div>
    </div>
</div>
<!--filter end-->
{{/with}}
<!--results start-->
{{#with results.goodsList}}
<div class="goods_results content_w">
    <div class="pagenation f-r" style="margin: 0 10px 0 0">
    <a href="#" class="last">上一页</a>
    <span class="page_num">
    <!-- <a href="javascript:;" class="active">1</a>
    <a href="javascript:;">2</a>
    <a href="javascript:;">3</a>
    <a href="javascript:;">4</a>
    <a href="javascript:;">5</a>
    <a href="javascript:;">6</a>
    <a href="javascript:;">7</a>
    <a href="javascript:;">8</a>
    <a href="javascript:;">9</a>
    <a href="javascript:;">10</a> -->
    </span>
    <a href="#" class="next">下一页</a>
    共<i class="total">{{total}}</i>款商品，<span class="size_span"></span>，到第<input type="text" class="page_text"/> 页
    <a href="#" class="go_page_btn">确定</a>
    </div>
    <div class="num">为您找到<span class="total">{{total}}</span>件<!-- 与“保健” -->相关的商品</div>

    <div class="sort">
        <a href="javascript:;" data-type="0" class="active">综合排序</a>
        <a href="javascript:;" data-type="1">销量<i class="icon_sort"></i></a>
        <a href="javascript:;" data-type="2">人气<i class="icon_sort"></i></a>
        <a href="javascript:;" data-type="3">价格<i class="icon_sort"></i></a>

    </div>
    {{#with list}}
        {{>goods_list}}
    {{/with}}
    <div class="pagenation f-r">
        <a href="#" class="last">上一页</a>
        <span class="page_num">
            <!-- <a href="javascript:;" class="active">1</a>
            <a href="javascript:;">2</a>
            <a href="javascript:;">3</a>
            <a href="javascript:;">4</a>
            <a href="javascript:;">5</a>
            <a href="javascript:;">6</a>
            <a href="javascript:;">7</a>
            <a href="javascript:;">8</a>
            <a href="javascript:;">9</a>
            <a href="javascript:;">10</a> -->
        </span>
        <a href="#" class="next">下一页</a>
        共<i class="total">{{total}}</i>款商品，<span class="size_span"></span>，到第<input type="text" class="page_text1"/> 页
        <a href="#" class="go_page_btn1">确定</a>
    </div>
</div>
{{/with}}
<!--results end-->
{{#section 'jquery'}}
    <script src="/js/public.js"></script>
    <script type="text/javascript">
        //init goodsListBody
        module.goodsListBody.sendType = $('#sendType').val();
        module.goodsListBody.brands = $('#brands').val();
        module.goodsListBody.catelog1 = $('#catelog1').val();
        module.goodsListBody.catelog2 = $('#catelog2').val();
        module.goodsListBody.catelog3 = $('#catelog3').val();
        module.goodsListBody.sort = $('#sort').val();
        module.goodsListBody.pageNumber = $('#pageNumber').val();
        module.goodsListBody.pageSize = $('#pageSize').val();
        module.hasNextPage = $('#hasNextPage').val();
        module.hasPreviousPage = $('#hasPreviousPage').val();

        
        renderPage($('#pages').val()*1,1,$('#size').val());

        //filter
        $('.condition>div').on('click','a',function(){
            $(this).addClass('active').siblings('a').removeClass('active');
            var key = $(this).parent('div').attr('class');
            var value = $(this).attr('data-id');

            module.goodsListBody[key] = value;
            module.goodsListBody['pageNumber'] = 1;
            //console.log(module.goodsListBody);
            postFilter(module.goodsListBody);
        });

        var catelog = [];
        $('#level1').change(function () {
            var str = '<option>请选择</option>';
            var id = parseInt($(this).find('option:selected').attr('data-id'));

            if(catelog.length==0){
                getCatelog(function () {
                    loadCatelog(2,id);
                    loadBrands(id)
                });
            }else {
                loadCatelog(2,id);
                loadBrands(id);
            }

        });

        $('#level2').change(function () {
            var id1 = parseInt($('#level1').find('option:selected').attr('data-id'));
            var id2 = parseInt($(this).find('option:selected').attr('data-id'));
            if(catelog.length==0){
                getCatelog(function () {
                    loadCatelog(3,id1,id2)
                });
            }else {
                loadCatelog(3,id1,id2);
            }
        });

        $('.catelog select').change(function () {
            var key = '';
            var id = parseInt($(this).find('option:selected').attr('data-id'));
            switch ($(this).attr('id')){
                case 'level1' :
                    key = 'catelog1';
                    break;
                case 'level2' :
                    key = 'catelog2';
                    break;
                case 'level3' :
                    key = 'catelog3';
                    break;
            }
            module.goodsListBody[key] = id;
            module.goodsListBody['pageNumber'] = 1;
            postFilter(module.goodsListBody);
        });

        //sort
        $('.sort a').click(function () {
            $(this).addClass('active').siblings('a').removeClass('active');
            var sort = $(this).attr('data-type');
            module.goodsListBody.sort = sort;
            module.goodsListBody['pageNumber'] = 1;
            postFilter(module.goodsListBody);
        });
        //pagenation
        $('.pagenation').on('click','a',function(){
            var currentPage = (module.goodsListBody.pageNumber)*1;
            var index;
            var $page_num = $('.page_num a');
            var baseNum = 0;
            var str = '';

            $page_num.each(function () {
               if($(this).hasClass('active')){
                   index = $(this).index()
               }
            });

            if($(this).parent('span').hasClass('page_num')){

                $(this).addClass('active').siblings('a').removeClass('active');
                module.goodsListBody.pageNumber = ($(this).html())*1

            }else if($(this).hasClass('last')){
                if(module.hasPreviousPage){ //判断是否有上一页
                    // if(((module.goodsListBody.pageNumber)-1) % 10 ==0){ // 判断10的整数倍 修改页码
                    //     index = 9;
                    //     baseNum = (((module.goodsListBody.pageNumber)-1)/ 10 ) - 1;
                    //     for(var i=0; i < 10 ;i++){
                    //         str += '<a href="javascript:;">'+ ((baseNum*10)+i+1) +'</a>'
                    //     }
                    //     $('.page_num').html(str);
                    // }else {
                    //     index--;
                    // }

                    module.goodsListBody.pageNumber--;
                    $('.page_num a').eq(index).addClass('active').siblings('a').removeClass('active');

                }else {
                    alert('当前为第一页');
                    return
                }
            }else if($(this).hasClass('next')){
                if(module.hasNextPage){ //判断是否有下一页
                    // if(module.goodsListBody.pageNumber % 10 ==0){ // 判断10的整数倍 修改页码
                    //     index = 0;
                    //     baseNum = (module.goodsListBody.pageNumber / 10 );
                    //     for(var i=0; i < 10 ;i++){
                    //         str += '<a href="javascript:;">'+ ((baseNum*10)+i+1) +'</a>'
                    //     }
                    //     $('.page_num').html(str);
                    // }else {
                    //     index++;
                    // }

                    module.goodsListBody.pageNumber++;
                    $('.page_num a').eq(index).addClass('active').siblings('a').removeClass('active');

                }else {
                    alert('当前为最后一页');
                    return
                }
            }
            postFilter(module.goodsListBody);

        });
        $('.pagenation .go_page_btn').click(function () {
            module.goodsListBody.pageNumber = ($('.page_text').val())*1;
            var a =  Math.ceil(module.goodsListBody.pageNumber / 10)-1;
            var b =  module.goodsListBody.pageNumber % 10;
            var str = '';
            for(var i=0; i < 10 ;i++){
                str += '<a href="javascript:;">'+ ((a*10)+i+1) +'</a>'
            }
            $('.page_num').html(str);
            $('.page_num a').eq(b-1).addClass('active').siblings('a').removeClass('active');
            $('.page_num a').eq(b+9).addClass('active').siblings('a').removeClass('active');
        });
        $('.pagenation .go_page_btn1').click(function () {
            module.goodsListBody.pageNumber = ($('.page_text1').val())*1;
            var a =  Math.ceil(module.goodsListBody.pageNumber / 10)-1;
            var b =  module.goodsListBody.pageNumber % 10;
            var str = '';
            for(var i=0; i < 10 ;i++){
                str += '<a href="javascript:;">'+ ((a*10)+i+1) +'</a>'
            }
            $('.page_num').html(str);
            $('.page_num a').eq(b-1).addClass('active').siblings('a').removeClass('active');
            $('.page_num a').eq(b+9).addClass('active').siblings('a').removeClass('active');
        });

        //search
        $('.search_btn').click(function () {
            module.goodsListBody.search = $(this).siblings('input').val();
            module.goodsListBody['pageNumber'] = 1;
            postFilter(module.goodsListBody);
        });
        function postFilter(json){
            var str = '';
            //console.log(json);
             $.ajax({
                type : 'post',
                url : '/goodsList',
                data : json,
                success: function(data){
//                    console.log(data);
                    for(var i = 0;i < data.list.length;i++){
                        str+='<li>'+
                                '<a href="/goodsDetails/'+data.list[i]['id']+'" target="_blank">'+
                                '<img src="'+ data.list[i]['slt'] +'" class="goods_pic">'+
                                '<p class="desc">'+data.list[i]['goodsname']+'</p>'+
                                '<div class="price">'+
                                '<span class="f-l">￥'+data.list[i]['price']+'</span>'+
                                '<div class="like f-l"></div>'+
                                '<!-- <div class="addCart f-r">加入采购单</div> -->'+
                                '</div>'+
                                '</a>'+
                                '</li>';
                    }
                    //console.log(data);
                    renderPage(data.pages,data.pageNum, data.size);
                    $('.goods_list .clearfix').html(str);
                    $('.total').html(data.total);


                    module.hasNextPage = data.hasNextPage;
                    module.hasPreviousPage = data.hasPreviousPage
                }
            })
        }
        function getCatelog(callback){
            $.ajax({
                url : '/catelog',
                success: function(data){
                    console.log(data);
                    catelog = data;
                    callback();
                }
            })
        }
        function loadCatelog(level,id1,id2){
            var target='';
            var target2 = '';
            var str = '<option>请选择</option>';

            if(level == 2){
                target = '#level2';
                target2 = '#level3';
                $(target2).html(str);
            }else if(level == 3){
                target = '#level3'
            }

            catelog.level1.forEach(function (value,index) {
                    if(value.id == id1){
                        value.level2[0]['catelog'].forEach(function (val,i) {
                            if(level ==2){
                                str += '<option data-id="'+ val.id +'">'+ val.value +'</option>';
                            }else if(level ==3){
                                if(val.id == id2){
                                    val.childCate.forEach(function (v,j) {
                                        str += '<option data-id="'+ v.id+'">'+ v.value +'</option>'
                                    })
                                }
                            }
                        })
                    }

            });

/*            catelog.level1.forEach(function (value,index) {
                if(level ==2){
                    if(value.id == id1){
                        value.level2[0]['catelog'].forEach(function (val,i) {
                            str += '<option data-id="'+ val.id +'">'+ val.value +'</option>'
                        })
                    }
                }else if(level ==3){
                    if(value.id == id1){
                        value.level2[0]['catelog'].forEach(function (val,i) {
                            if(val.id == id2){
                                val.childCate.forEach(function (v,j) {
                                    str += '<option data-id="'+ v.id+'">'+ v.value +'</option>'
                                })
                            }
                        })
                    }

                }
            });*/
            $(target).html(str);
        }
        function loadBrands(id){
            var str = '<a href="javascript:;">全部</a>';
            if(id){
                catelog.level1.forEach(function (value,index) {
                    if(value.id == id){
                        value.level2[0]['brands'].forEach(function (val,i) {
                            str+='<a href="javascript:;" data-id="'+ val.value +'">'+ val.value +'</a>'
                        })
                    }
                });
            }

            $('.condition .brands').html(str)
        }
        function renderPage(pages,pageNumber,size){
            var  str = '';
            if(size===undefined){
                for( var i = 0; i < 10; i++){
                    str += '<a href="#">'+(i+1)+'</a>'
                }
                $('.page_num').html(str);
                $('.page_num a:eq('+ 0 +')').addClass('active');
            }else{
                console.log(module.goodsListBody.pageNumber);
                var a =  Math.ceil(module.goodsListBody.pageNumber / 10)-1;
                // var b =  module.goodsListBody.pageNumber % 10;
                var c = size - a*10;
                var d = c > 10 ? pages : c;
                // console.log(size);
                // console.log(c,'   ',d);
                var str = '';
                for( var i = 0; i < d; i++){
                    str += '<a href="#">'+((a*10)+i+1)+'</a>'
                }
                $('.size_span').html('共' + size + '页');
                $('.page_num').html(str);
                $('.page_num a:eq('+ (pageNumber - a*10 -1) +')').addClass('active');
                $('.page_num a:eq('+ (pageNumber - a*10 -1 + 10) +')').addClass('active');
            }

        }
    </script>
{{/section}}



