{{#section 'head'}}
    <title>商品列表</title>
    <link rel="stylesheet" href="/css/goods_list.css">
{{/section}}

{{>topbar}}

<!--header start-->
{{>header_search}}
<!--header end-->

<!--nav start-->
{{>nav}}
<!--nav end-->

{{#with results.condition}}
<!--filter start-->
<div class="filter content_w">
    <div class="condition">
        <span>提货：</span>
        <div>
            {{#each this.sendtype}}
            <a href="javascript:;" data-id={{typeid}}>{{typename}}</a>
            {{/each}}
        </div>
    </div>
    <div class="condition">
        <span>国家：</span>
        <div>
             {{#each this.country}}
            <a href="javascript:;" data-id={{countryid}}>{{countryname}}</a>
            {{/each}}
        </div>
    </div>
    <div class="condition">
        <span>分类：</span>
        <div>
            <select>
                <option>1</option>
                <option>2</option>
            </select>
            <select>
                <option>11</option>
                <option>22</option>
            </select>
        </div>
    </div>
    <div class="condition no-border">
        <span>品牌：</span>
        <div class="brands">
            <a href="javascript:;">测试</a>
            <a href="javascript:;">测试</a>
            <a href="javascript:;">测试</a>
        </div>
    </div>
</div>
<!--filter end-->
{{/with}}
<!--results start-->
{{#with results.goodsList}}
<div class="goods_results content_w">
    <div class="num">为您找到<span>{{total}}</span>件与“保健”相关的商品</div>
    <div class="sort">
        <a href="javascript:;">综合排序</a>
        <a href="javascript:;">销量<i class="icon_sort"></i></a>
        <a href="javascript:;">人气<i class="icon_sort"></i></a>
        <a href="javascript:;">价格<i class="icon_sort"></i></a>
    </div>
    {{#with list}}
        {{>goods_list}}
    {{/with}}
    <div class="pagenation f-r">
        <a href="javascript:;" class="last">上一页</a>
        <span class="page_num">
            <a href="javascript:;">1</a>
            <a href="javascript:;" class="on">2</a>
            <a href="javascript:;">3</a>
            <a href="javascript:;">4</a>
            <a href="javascript:;">5</a>
            <a href="javascript:;">6</a>
            <a href="javascript:;">7</a>
            <a href="javascript:;">8</a>
            <a href="javascript:;">9</a>
            <a href="javascript:;">10</a>
        </span>
        <a href="javascript:;" class="next">下一页</a>
        共{{total}}款商品，第{{pageSize}}/{{pageNum}}页，到第<input type="text" class="page_text"/> 页
        <a href="javascript:;" class="go_page_btn">确定</a>
    </div>
</div>
{{/with}}
<!--results end-->
{{#section 'jquery'}}
    <script src="/js/public.js"></script>
{{/section}}



